@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root {
    --padding-container: 100px 0;
    --color-title: #001A49;
}

html::-webkit-scrollbar {
    width: 15px;
}

html::-webkit-scrollbar-thumb {
    background: rgb(204, 204, 204);
}

html::-webkit-scrollbar-track {
    border-radius: 3px;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    overflow-x: hidden  ;
}

.tittle{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 4rem;
}

.subtittle{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 3rem;
}

.paragraph{
    font-weight: 400, sans-serif;
    font-size: 1.5rem;
    color: #000;
    padding-top: 2rem;
}   

.container {
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
}